.firstSectionContent {
    padding: 5vw 0 1.1vw 0;
    display: grid;
    grid-template-columns: 45% 55%;
}

.contentText {
    padding: 8.5vw 3.7vw 3vw 0;
    font-size: 1vw;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.5vw;
    text-align: right;
    background-color: rgb(131, 170, 117, 0.8);
} 

.contentHeaderContainer {
    padding: 1.4vw 0 3vw 0;
}

.contentHeader {
    font-size: 2.5vw;
    font-family: "FredokaOne";
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    line-height: 3vw;
    text-align: left;
    border-left: solid 0.15vw rgb(247, 247, 247);
    height: 100%;
    position: relative;
    right: 2.75vw;
    padding-left: 1vw;
    letter-spacing: 0.1vw;
}